docs/ai-stack/workflows/comfyui-simple-test.json
{
  "name": "ComfyUI Simple Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "comfyui-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-status",
      "name": "Status Check Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "comfyui-status"
    },
    {
      "parameters": {
        "url": "http://comfyui:8188/system_stats",
        "options": {}
      },
      "id": "get-system-stats",
      "name": "Get ComfyUI Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "url": "http://comfyui:8188/object_info",
        "options": {}
      },
      "id": "get-object-info",
      "name": "Get Available Nodes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 480]
    },
    {
      "parameters": {
        "jsCode": "const stats = $('Get ComfyUI Stats').first().json;\nconst nodeCount = Object.keys($('Get Available Nodes').first().json || {}).length;\n\nreturn {\n  json: {\n    status: 'connected',\n    comfyui: {\n      system_stats: stats,\n      available_nodes: nodeCount,\n      endpoints: {\n        prompt: 'POST http://comfyui:8188/prompt',\n        history: 'GET http://comfyui:8188/history/{prompt_id}',\n        queue: 'GET http://comfyui:8188/queue',\n        system_stats: 'GET http://comfyui:8188/system_stats',\n        view_image: 'GET http://comfyui:8188/view?filename={name}&type=output'\n      }\n    },\n    message: 'ComfyUI is running and accessible from n8n!'\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 380]
    }
  ],
  "connections": {
    "Status Check Webhook": {
      "main": [
        [
          {
            "node": "Get ComfyUI Stats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Available Nodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ComfyUI Stats": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Available Nodes": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "ComfyUI",
      "id": "1"
    },
    {
      "name": "Test",
      "id": "2"
    }
  ]
}